header {
  height: 180px;
  background-color: lightyellow;
}

nav {
  padding-left: 10% !important;
  padding-right: 10% !important;
  width: 100%;
  font-size: xx-large;
  color: teal;
  font-weight: bold;
}

#loginbtn {
  right: 2%;
  top: 2%;
  position: absolute;
}


.navbar span:hover {
  color: cyan;
  cursor: pointer;
}